
bin/
bpf/monitor.bpf.o
bpf/vmlinux.h

*_logs.json
*_rules.json
*.log

docs/*.aux

tests/logs/

.DS_Store
.idea/
.vscode/
*.swp
*.swo
*~

ui/node_modules/

# for make clean-deps
.akmon-deps-apt.list
.akmon-deps-snap.list

ui/dist/
internal/graphapi/static/assets/
